    <div class="wrapper-masthead">
      <div class="container-top">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" >
            <span class="darkGrey-text">
              <%
            </span>
            <span class="brickRed-text">
            snipits
            </span>
            <span class="darkGrey-text">
              %>
            </span>
          </a>
          <div class="pull-right">
            <a href="{{ site.baseurl }}/about" > twi </a>&nbsp;
            <a href="{{ site.baseurl }}/about" > sti </a>&nbsp;
            <a href="{{ site.baseurl }}/about" > iTu </a>&nbsp;
            <a href="{{ site.baseurl }}/about" > rss </a>
          </div>
        </header>
      </div>
    </div>
