
//
// VARIABLES
//

//Custom Palette
$brickRed: #820B14;
$darkTeal: #0C3637;
$orange: #EB4F09;
$mustard: #B88E09;
$deepPurple: #3F043C;
$midnightBlue: #0E043D;
$grey: #5A5A5A;
$lightGrey: #D5D5D5;
$bgGrey:#F0F1F8;


// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #333;
$darkGray: #555;
$gray: #777;
$medGray: #999;
$lightGray: #ccc;
$xlightGray: #f2f2f2;
$white: #fff;
$Red: #d42;
$darkRed: #c30;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
