---
layout: default
---

<article class="post">
  <div class="white-box">
   {{ page.img }}
  </div>
  <br>
  {{ page.title }}
  <div class="date">Posted {{ page.date | date: "%B %e, %Y" }}</div>
  <a href="{{ page.proj-url }}" class="large-link" target="_blank">View Project Site <i class="fa fa-external-link"></i></a>

<table>
  <tr>
    <td>
      <div class="entry">
        {{ content }}
      </div>
    </td>
    <td>



<table>

      <div>
        <h3 class="widget-title">Recent Posts</h3>

        {% for post in site.posts limit:10 %}
      <tr>
            <td class="widget-wrapper">

          <a href="{{ site.baseurl }}{{post.url}}">
              {{ post.title }}<br>
              {{ post.desc }}
            </td>
            <td width="30px">
              {{post.color}}
              {{post.color}}
            </td>
            </a>
      </tr>
        {% endfor %}
      </div>
</table>


    </td>
  </tr>
</table>


  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
