---
layout: default
---

<article class="post">
  <div class="white-box">
    <table>
      <td>
          <p class="stat-img">
       {{ page.img }}
         </p>
      <p class="stat-card">
        <Strong>
          {{ page.title }}
        </Strong>
         - {{ page.desc }}
        <br>
        {{ page.city }} - {{ page.date | date: "%b. %e, %Y" }}
        <br><br>
        {{page.stats}}
      </p>
    </td>
    </table>
  </div>
  <Strong>{{ page.title }}</Strong>
  <div class="date">Posted {{ page.date | date: "%B %e, %Y" }}</div>
  <!-- <a href="{{ page.proj-url }}" class="large-link" target="_blank">View Project Site <i class="fa fa-external-link"></i></a> -->

<table class="post-table">
  <tr>
    <td>
      <div class="entry">
        {{ content }}
      </div>
    </td>
    <td>


<table>

      <div>
        <h3 class="widget-title">Recent Posts</h3>

        {% for post in site.posts limit:10 %}
      <tr class="widget-wrapper">
            <td class="widget-col" >

          <a href="{{ site.baseurl }}{{post.url}}">
              {{ post.title }}<br>
              {{ post.desc }}
            </td>
            <td width="30px">
              {{post.color}}
              {{post.color}}
            </td>
            </a>
      </tr>
        {% endfor %}
      </div>
</table>


    </td>
  </tr>
</table>


  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
